
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

#THOUVEREZ {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	background: #21BF33;
		background: linear-gradient(299deg,rgba(33, 191, 51, 1) 0%, rgba(243, 255, 13, 1) 40%, rgba(255, 13, 13, 1) 100%, rgba(237, 83, 83, 1) 100%);
	border-radius: 15px;
	border: 0px;
	   font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

#THOUVEREZ img {
	border-radius: 15px;
}

#THOUVEREZ  {
  /* 1. Définit l'animation de transformation sur 1 seconde */
  transition: transform 1s; 
}

#THOUVEREZ :hover {
  /* 2. Applique une rotation de 360 degrés au survol */
  transform: rotate(360deg); 
}
#MAREY_VAIRELLES{
background-color : gold; 
}
#DANGUIN {
    border: none !important;
    padding: 10px;
    border-radius: 12px;

    background: linear-gradient(
        135deg,
        #e40303, /* rouge */
        #ff8c00, /* orange */
        #ffed00, /* jaune */
        #008026, /* vert */
        #004dff, /* bleu */
        #750787  /* violet */
    );
}

#DANGUIN img {
    border-radius: 10px;
}
#MEUNIER{
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px; 
}
#MEUNIER img {
  transition: transform 0.6s ease;
}

#MEUNIER:hover img {
  transform: rotate(360deg);
}
#DAVID {
  border-radius: 15px;
  background: linear-gradient(to bottom, black, #aaa);
  img{
    width: 300px;
    border-radius: 7px;
  }
}
